* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-image: url('../assets/tableMat.jpg');
    background-repeat: repeat;
}

#gameBoard {
    width: 100vw;
    height: 100vh;
    padding: 15px;
    position: relative;
}

[data-card] {
    width: calc(100px * 1.5);
    height: calc(153px * 1.5);
    background-size: 100%;
    float: left;
}

[data-card] {
    transition: left 500ms ease-in-out, top 500ms ease-in-out;
    position: absolute;
    left: calc(50% - 75px);
    top: calc(-153px * 1.5);
}

#deck {
    position: absolute;
    width: calc(100px * 1.5);
    height: calc(153px * 1.5);
    left: calc(50% - ((100px * 1.5) / 2));
    top: calc(50% - ((153px * 1.5) / 2));
}

#deck img {
    width: 100%;
    height: auto;
}

[data-deal-btn], [data-reshuffle-btn] {
    padding: 10px;
    background: #fff;
    display: inline-block;
    background: #000;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
}

[data-hit-btn] {
    padding: 10px;
    background: #fff;
    display: inline-block;
    background: #000;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    position: absolute;
    bottom: 40px;
    left: calc(50% - 300px);
}